@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
}

html,body {
    height: 100%;
    font-family:'GmarketSansMedium';
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
input[type='number'] {
  -moz-appearance: textfield;
}

/* 스타트 화면 */
#start-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color:  rgb(119, 119, 209);
}

#main-text-click {
    cursor: pointer;
}

#start-container .start-mainText {
    display: flex;
    width: calc(100% - 500px);
    margin: 0 auto;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#start-button {
    font-weight: bold;
}



#start-container .start-mainText button {
    border: none;
    color: #fff;
    font-size: 5rem;
    background-color: rgb(119, 119, 209);
    cursor: pointer;
}

.start-mainText .game-rule {
    width: 70%;
    font-size: 1.2rem;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px 30px;
    color: #fff;
    font-weight: 100;
    border: 2px solid #fff;
}

#container {   
    margin: 0 auto;
    height: 100%;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainText {
    position: fixed;
    display: flex;
    padding: 20px;
    width: 100%;
    top: 0;
    font-size: 1.5rem;
    color: #fff;
    background-color: rgb(119, 119, 209);
}

.mainText p {
    margin-left: 15px;
}


.playContainer {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    margin-top: 20px;
}

.playContainer #result-area {
    font-size: 1.8rem;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playContainer #chance-area {
    font-size: 1.2rem;
    font-weight: 100;
    text-align: left;
    width: 100%;
}

#user-input {
    margin: 0 0 5px 0;
    height: 50px;
    width: 100%;
    font-size: 25px;
    padding-bottom: 5px;
    text-align: center;
    border-left: none;
    border-right: none;
    border-top: none;
}

#user-input:focus {
    outline: 0;
}

.playReset-button {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}


.playReset-button button {
    font-size: 1.5rem;
    width: 100%;
    padding: 15px 8px;
    border: none;
    color: #fff;
    background-color: rgb(119, 119, 209);
    margin-bottom: 12px;
    cursor: pointer;
}

#play-button {
    margin-right: 3px;
}

@media screen and (max-width: 992px) {
    #start-container .start-mainText  {
        width: calc(100% - 220px);
    }
    
}


@media screen and (max-width: 600px) {
    #start-container .start-mainText  {
        width: calc(100% - 60px);
    }

    #start-button {
        font-size: 3rem;
    }

    #start-container .start-mainText button {
        font-size: 5rem;
    }

    .start-mainText .game-rule {
        font-size: 1rem;
    }
}
